<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <connectionStrings>

    <!--live-->

    <!--<add name="JobsManager_TEST" providerName="System.Data.SqlClient"
 connectionString="Data Source=LIVE-DATAGRID; Initial Catalog=JobsManager; Integrated Security=false; User ID=livesa; Password=risertrade;" />
    <add name="JobsManager_LIVE" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQLLIVE, 32223;Initial Catalog=JobsManager; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <add name="TRADES_TEST_Forex" providerName="System.Data.SqlClient"
        connectionString="Data Source=LIVE-DATAGRID; Initial Catalog=FMDA_Forex_Result; Integrated Security=false; User ID=livesa; Password=risertrade;" />
    <add name="TRADES_LIVE_Forex" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQLLIVE, 32223;Initial Catalog=FMDA_Forex_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <add name="TRADES_TEST" providerName="System.Data.SqlClient"
      connectionString="Data Source=LIVE-DATAGRID; Initial Catalog=FMDA_Result; Integrated Security=false; User ID=livesa; Password=risertrade;" />
    <add name="TRADES_LIVE" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQLLIVE, 32223;Initial Catalog=FMDA_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />-->

    <!--live end-->




    <!--dev-->

    <add name="JobsManager_TEST" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=JobsManager; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="JobsManager_LIVE" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQLLIVE, 32223;Initial Catalog=JobsManager; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <add name="TRADES_TEST_Forex" providerName="System.Data.SqlClient"
        connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=FMDA_Forex_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="TRADES_LIVE_Forex" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQLLIVE, 32223;Initial Catalog=FMDA_Forex_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <add name="TRADES_TEST" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=FMDA_Forex_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="TRADES_LIVE" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQLLIVE, 32223;Initial Catalog=FMDA_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <!--dev end-->


  </connectionStrings>

  <appSettings>
    <add key="EXCHANGES" value="Forex;"/>
    <add key="TOTALNOEXCHANGES" value="1"/>
    <add key="MODE" value="UI"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="unSecured" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00"
      sendTimeout="00:30:00" transactionFlow="false" transferMode="Buffered"
      transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
      maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>

      </netTcpBinding>
    </bindings>


    <services>
      <service behaviorConfiguration="ComputedDataService.ComputedDataServiceServiceBehavior" name="ComputedDataService.ComputedDataService">
        <endpoint binding="netTcpBinding" bindingConfiguration="unSecured" contract="ComputedDataService.IComputedDataService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8741/Design_Time_Addresses/ComputedDataService/ComputedDataService/" />
          </baseAddresses>
          <timeouts closeTimeout="00:30:00" openTimeout="00:30:00" />
        </host>
      </service>
    </services>



    <behaviors>
      <serviceBehaviors>
        <behavior name="ComputedDataService.ComputedDataServiceServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>