<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  


  <connectionStrings>
    <add name="JobsManager_TEST" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=JobsManager; Integrated Security=false; User ID=sa; Password=risertrade;" />    
    <add name="JobsManager_LIVE" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQLLIVE, 32223;Initial Catalog=JobsManager; Integrated Security=false; User ID=sa; Password=risertrade;" />        

    <add name="FMDA_Result_TEST" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=FMDA_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="FMDA_Result_LIVE" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQL2012, 32223;Initial Catalog=FMDA_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />

     <add name="FMDA_Forex_Result_TEST" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=FMDA_Forex_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="FMDA_Forex_Result_LIVE" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQL2012, 32223;Initial Catalog=FMDA_Forex_Result; Integrated Security=false; User ID=sa; Password=risertrade;" />



    <add name="TRADES_TEST_Forex" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=FMD_Forex; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="TRADES_LIVE_Forex" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQLLIVE, 32223;Initial Catalog=FMD_Forex; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <add name="TRADES_TEST" providerName="System.Data.SqlClient"
    connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=FMD_Stocks; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="TRADES_LIVE" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQLLIVE, 32223;Initial Catalog=FMD_Stocks; Integrated Security=false; User ID=sa; Password=risertrade;" />


    <add name="TRADES_TEST_FundamentalData" providerName="System.Data.SqlClient"
  connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=FundamentalMarketData; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="TRADES_LIVE_FundamentalData" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQLLIVE, 32223;Initial Catalog=FundamentalMarketData; Integrated Security=false; User ID=sa; Password=risertrade;" />
    
    
    

    <!--<add name="TRADES_TEST_Forex" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQL2012, 49175;Initial Catalog=FMD_Forex; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="TRADES_LIVE_Forex" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQLLIVE, 32223;Initial Catalog=FMD_Forex; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <add name="TRADES_TEST" providerName="System.Data.SqlClient"
    connectionString="Data Source=S-INDEX-ONE\SQL2012, 49175;Initial Catalog=FMD_Stocks; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="TRADES_LIVE" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQLLIVE, 32223;Initial Catalog=FMD_Stocks; Integrated Security=false; User ID=sa; Password=risertrade;" />-->


    <!--

    <add name="NYSE_TEST" providerName="System.Data.SqlClient"
          connectionString="Data Source=S-INDEX-ONE\SQLEXPRESS, 55111;Initial Catalog=NYSE_STOCK; Integrated Security=false; User ID=sa; Password=risertrade;" />
    
    <add name="AMEX_TEST" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQLEXPRESS, 55111;Initial Catalog=AMEX_STOCK; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <add name="LSE_TEST" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQLEXPRESS, 55111;Initial Catalog=LSE_STOCK; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <add name="NASDAQ_TEST" providerName="System.Data.SqlClient"
      connectionString="Data Source=S-INDEX-ONE\SQLEXPRESS, 55111;Initial Catalog=NASDAQ_STOCK; Integrated Security=false; User ID=sa; Password=risertrade;" />
-->


  </connectionStrings>


  <appSettings>
    <!--<add key ="OUTPUTPATH_TEST" value="\\\\S-index-one\Users\Public\Downloads\Output\Test\BatchOutput_" />
    <add key ="OUTPUTPATH_LIVE" value="\\\\S-index-one\Users\Public\Downloads\Output\Live\BatchOutput_" />-->
    
    <add key ="OUTPUTPATH_TEST" value="\\\\APPSERVER2\Users\Public\Downloads\Output\Test\BatchOutput\" />
    <add key ="OUTPUTPATH_LIVE" value="\\\\APPSERVER2\Users\Public\Downloads\Output\Live\BatchOutput" />


    <add key ="STAGING_DIR_TEST" value="\\\\APPSERVER2\Users\Public\Downloads\Output\Test\Staging" />
    <add key ="STAGING_DIR_LIVE" value="\\\\APPSERVER2\Users\Public\Downloads\Output\Live\Staging" />
    <add key ="STAGING_DIR_LIVETEST" value="\\\\APPSERVER2\Users\Public\Downloads\Output\LiveTest\Staging" />

    <add key ="IMPORT_SUCCESS_THRESHOLD" value="1" />    
    
    
    <add key ="OUTPUTPATH_LIVE_RAWDATA" value="\\\\APPSERVER2\Users\Public\Downloads\Output\Live\RawData" />
    <add key ="OUTPUTPATH_TEST_RAWDATA" value="\\\\APPSERVER2\Users\Public\Downloads\Output\Test\RawData" />
    <add key ="OUTPUTPATH_LIVETEST_RAWDATA" value="\\\\APPSERVER2\Users\Public\Downloads\Output\LiveTest\RawData" />

    <add key ="OUTPUTPATH_LIVE_RAWDATA_STAGING" value="\\\\APPSERVER2\Users\Public\Downloads\Output\Live\RawData\Staging" />
    <add key ="OUTPUTPATH_TEST_RAWDATA_STAGING" value="\\\\APPSERVER2\Users\Public\Downloads\Output\Test\RawData\Staging" />
    <add key ="OUTPUTPATH_LIVETEST_RAWDATA_STAGING" value="\\\\APPSERVER2\Users\Public\Downloads\Output\LiveTest\RawData\Staging" />
    

    <!--<add key ="OUTPUTPATH_LIVE_RAWDATA" value="\\\\S-index-one\Users\Public\Downloads\Output\Live\RawData" />
    <add key ="OUTPUTPATH_TEST_RAWDATA" value="\\\\S-index-one\Users\Public\Downloads\Output\Test\RawData" />
    <add key ="OUTPUTPATH_LIVETEST_RAWDATA" value="\\\\S-index-one\Users\Public\Downloads\Output\LiveTest\RawData" />

    <add key ="OUTPUTPATH_LIVE_RAWDATA_STAGING" value="\\\\S-index-one\Users\Public\Downloads\Output\Live\RawData\Staging" />
    <add key ="OUTPUTPATH_TEST_RAWDATA_STAGING" value="\\\\S-index-one\Users\Public\Downloads\Output\Test\RawData\Staging" />
    <add key ="OUTPUTPATH_LIVETEST_RAWDATA_STAGING" value="\\\\S-index-one\Users\Public\Downloads\Output\LiveTest\RawData\Staging" />-->

    <add key="MODE" value="UI"/>
    <add key="MachineSpecificTimeFrameList" value="10min,15min"/>


    <add key="htEmailTo" value="infosys@traderiser.com" />
    <add key="htEmailFrom" value="datamanufacturer@tr.com" />
    <add key="htPort" value="587" />
    <add key="htHost" value="smtp.iomartmail.com" />
    <add key="htUsername" value="dennis@traderiser.com" />
    <add key="htPassword" value="Shadow19845" />
    
  </appSettings>
  
  
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <client>
      <endpoint address="net.tcp://localhost:8831/Design_Time_Addresses/FMDA_Service/Service1"
          binding="netTcpBinding" bindingConfiguration="NetTcpVersion"
          contract="Service.IService" name="NetTcpVersion">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    
    <bindings>
      <netTcpBinding>
        <binding name="Binding1">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IDatabaseManagerService" closeTimeout="00:03:00"
          openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
        </binding>

        <binding name="NetTcpVersion" closeTimeout="00:30:00" openTimeout="00:30:00"
                   receiveTimeout="00:30:00" sendTimeout="00:30:00" transactionFlow="false"
                   transferMode="StreamedResponse" transactionProtocol="OleTransactions"
                   hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                   maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10"
                   maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00"
              enabled="false" />
        </binding>      
        
      </netTcpBinding>    
    </bindings>



    <services>
      <service behaviorConfiguration="DatabaseManagerService.Service1Behavior" name="DatabaseManagerService.DatabaseManagerService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="Binding1" contract="DatabaseManagerService.IDatabaseManagerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8111/Design_Time_Addresses/DatabaseManagerService/DatabaseManagerService/" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DatabaseManagerService.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147480000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
