<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <add name="DBM_AMEX_STOCK_1" providerName="System.Data.SqlClient"
              connectionString="Data Source=DENNIS-HP\SQLEXPRESS;Initial Catalog=DBM_AMEX_STOCK_1; Integrated Security=true" />

    <add name="DBM_AMEX_STOCK_2" providerName="System.Data.SqlClient"
          connectionString="Data Source=DENNIS-HP\SQLEXPRESS;Initial Catalog=DBM_AMEX_STOCK_2; Integrated Security=true" />

    <add name="DBM_AMEX_STOCK_3" providerName="System.Data.SqlClient"
          connectionString="Data Source=DENNIS-HP\SQLEXPRESS;Initial Catalog=DBM_AMEX_STOCK_3; Integrated Security=true" />

</configuration>