<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" /></specFlow>

  <connectionStrings>
    <add name="JobsManager_TEST" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQL2012;Initial Catalog=JobsManager; Integrated Security=false; User ID=sa; Password=risertrade;"/>
    <add name="FMDA_Result_TEST" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQL2012;Initial Catalog=FMD_Forex_1min5min; Integrated Security=false; User ID=sa; Password=risertrade;"/>
    <add name="FMDA_Forex_Result_TEST" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQL2012;Initial Catalog=FMDA_Forex_Result; Integrated Security=false; User ID=sa; Password=risertrade;"/>
    <add name="TRADES_TEST_Forex" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQL2012;Initial Catalog=FMD_Forex_1min5min; Integrated Security=false; User ID=sa; Password=risertrade;"/>
    <add name="TRADES_TEST" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQL2012;Initial Catalog=FMD_Stocks; Integrated Security=false; User ID=sa; Password=risertrade;"/>
    <add name="TRADES_TEST_FundamentalData" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQL2012;Initial Catalog=FundamentalMarketData; Integrated Security=false; User ID=sa; Password=risertrade;"/>
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDatabaseManagerService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8111/Design_Time_Addresses/DatabaseManagerService/DatabaseManagerService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDatabaseManagerService"
        contract="DatabaseManagerService.IDatabaseManagerService" name="NetTcpBinding_IDatabaseManagerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>