<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="RunOnDemandIDF" value="C:\\TradeRiser\\Scripts\\RunOnDemandIDF.bat"/>
    <add key="RunCheckBat" value="C:\\TradeRiser\\Scripts\\AppAliveCheck.bat"/>
    <add key="CheckTimerFrequency" value="50000"/> <!--300000 = 5min-->
    <add key="RESTARTSYSTEMS" value="LAUNCHTESTQUERYSYSTEMENGINEAPPS_TEST_RTRD_RTCPJM_CPDS_ANSAHVARENG_CPSE_CQQANSONE_CQQANSTWO_CQQANSTHREE_CQQ_ANSONE_ANSTWO_QS" />
    
    <add key="NOTIFICATION_RECIPIENT" value="78.129.251.30|5.133.176.71|217.147.89.179|217.147.89.180|87.117.201.33" />
    
  </appSettings>
</configuration>