<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="TRADES_TEST_Forex" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQL2012, 49175;Initial Catalog=FMD_Forex; Integrated Security=false; User ID=sa; Password=risertrade;" />
    <add name="TRADES_LIVE_Forex" providerName="System.Data.SqlClient"
      connectionString="Data Source=APPSERVER2\SQLLIVE, 32223;Initial Catalog=FMD_Forex; Integrated Security=false; User ID=sa; Password=risertrade;" />

    <add name="JobsManager_TEST" providerName="System.Data.SqlClient" connectionString="Data Source=APPSERVER2\SQL2012, 49175; Initial Catalog=JobsManager; 
         Integrated Security=false; User ID=sa; Password=risertrade;"/>
    <add name="JobsManager_LIVE" providerName="System.Data.SqlClient" connectionString="Data Source=INDEX-ONE\SQLLIVE, 49666; Initial Catalog=JobsManager; 
         Integrated Security=false; User ID=sa; Password=risertrade;"/>

  </connectionStrings>
  
  <appSettings>
    <add key="EXCHANGES" value="Forex; NASDAQ"/>
    <add key="TOTALNOEXCHANGES" value="2"/>
    <add key="DATALIST" value="C:\\TradeRiser\FOREX - NOFXCM.txt"/>


    <!--<add key="TimeFrameList" value="1min,2min,3min,4min,5min,10min,15min,30min,1hour,2hour,3hour,4hour,EndOfDay"/>-->

    <add key="TimeFrameList" value="1min,EndOfDay"/>

    <add key="STARTDATE" value="2015-01-01"/>
    
    <add key="MODE" value="TEST"/>
  </appSettings>


  <system.serviceModel>


    <bindings>
      <netNamedPipeBinding>
        <binding name="NetPipes">
          <security>
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IRealTimeRawDataService" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxConnections="50" maxReceivedMessageSize="2147483647" />

        <!--<binding name="NetTcpBinding_IDatabaseWcfService" closeTimeout="00:30:00"
            openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
            maxConnections="50" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00"
              enabled="false" />
          <security mode="None" />
        </binding>-->


        <binding name="NetTcpBinding_IDatabaseWcfService" closeTimeout="00:30:00"
            openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <!--<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />-->
          <security mode="None" />
        </binding>


        <binding name="NetTcpBinding_IComputedDataService" />
        <binding name="NetTcpBinding_IQueryJobsService" closeTimeout="00:30:00"
            openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
            maxConnections="50" maxReceivedMessageSize="2147483647"/>

        <binding name="NetTcpBinding_IRTChartPatternDataService" closeTimeout="00:30:00"
            openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647" />
      </netTcpBinding>

    </bindings>
    <client>

      <endpoint address="net.tcp://datagrid:8772/Design_Time_Addresses/RealTimeRawDataService/RealTimeRawDataService/"
      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRealTimeRawDataService"
      contract="RealTimeRawDataService.IRealTimeRawDataService"
      name="NetTcpBinding_IRealTimeRawDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://datagrid:8150/Design_Time_Addresses/DatabaseWcfService/DatabaseWcfService/"
      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDatabaseWcfService"
      contract="RawDataService.IDatabaseWcfService" name="NetTcpBinding_IDatabaseWcfService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://datagrid:8741/Design_Time_Addresses/ComputedDataService/ComputedDataService/"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IComputedDataService"
          contract="ComputedDataService.IComputedDataService" name="NetTcpBinding_IComputedDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8523/QueryJobsService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IQueryJobsService"
          contract="QueryJobsService.IQueryJobsService" name="NetTcpBinding_IQueryJobsService">
        <identity>
          <userPrincipalName value="INDEX-TWO\TradeRiser" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://datagrid:8711/Design_Time_Addresses/RTChartPatternDataService/RTChartPatternDataService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRTChartPatternDataService"
                contract="RTChartPatternDataService.IRTChartPatternDataService"
                name="NetTcpBinding_IRTChartPatternDataService">
      </endpoint>
    </client>


    <services>
      <service name="AnswerEngineOneService.AnswerEngineOneService">
        <endpoint address="" binding="netTcpBinding" contract="AnswerEngineOneService.IAnswerEngineOneService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8738/Design_Time_Addresses/AnswerEngineOneService/AnswerEngineOneService" />
          </baseAddresses>
        </host>
      </service>


    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        <behavior name="QueryJobsService.QueryJobsServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>

    </behaviors>
  </system.serviceModel>



</configuration>